{% extends 'base.html' %} 
{% load i18n %}
{% load theme %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}style/lib/jquery.contextmenu.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/player.css" type="text/css" media="all" />
    <script src="{{ STATIC_URL }}js/lib/jquery/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery/jquery.contextmenu.js" type="text/javascript" charset="utf-8"></script>
        
    {% if config.debug %}
        <script src="{{ STATIC_URL }}js/lib/soundmanager/script/soundmanager2.js" type="text/javascript" charset="utf-8"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/lib/soundmanager/script/soundmanager2-nodebug.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
        
    <script src="{% url player:javascript 'inc' %}" type="text/javascript" charset="utf-8"></script>  
    <script src="{% url player:javascript 'player' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% url player:javascript 'search' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% url player:javascript 'playlist' %}" type="text/javascript" charset="utf-8"></script>  
    <script src="{% url player:javascript 'ui' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}



{% block content %}
    {% include "includes/nav.html" with player=1 %}
    <div id="browser" class="overlay">
        <div id="browser_headers">
            <div>{% blocktrans %}Artist by letters{% endblocktrans %}</div>
            <div>{% blocktrans %}Artists{% endblocktrans %}</div>
            <div>{% blocktrans %}Albums{% endblocktrans %}</div>
            <div>{% blocktrans %}Genres{% endblocktrans %}</div>
        </div>
        <div id="browsers">
            <div id="letter_browser">
                <table>
                    <tbody>
                        <tr>
                            <td id="load_all_songs">{% trans 'All' %}</td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td>F</td>
                            <td>G</td>
                            <td>H</td>
                        </tr>
                        <tr>
                            <td>I</td>
                            <td>J</td>
                            <td>K</td>
                            <td>L</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>N</td>
                            <td>O</td>
                            <td>P</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>R</td>
                            <td>S</td>
                            <td>T</td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td>V</td>
                            <td>W</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>X</td>
                            <td>Z</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="artist_browser">
                <div class="border">
                    <ul class="list_browser">
                        {% for artist in artists %}
                            <li class="{% cycle 'line1' 'line2' %}" 
                                onclick="filter_lines(this);"
                                ondblclick="load_line(this);">{{ artist }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="album_browser">
                <div class="border">
                    <ul class="list_browser">
                        {% for album in albums %}
                            <li class="{% cycle 'line1' 'line2' %}" 
                                onclick="filter_lines(this);"
                                ondblclick="load_line(this);">{{ album }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="genre_browser">
                <div class="border">
                    <ul class="list_browser">
                        {% for genre in genres %}
                            <li class="{% cycle 'line1' 'line2' %}" 
                                onclick="filter_lines(this);"
                                ondblclick="load_line(this);">{{ genre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    <div id="player">
        <div id="controls">
            
            <div class="control">
                <a href="#" class="previous"></a> 
                <a href="#" class="play" id="play_icon"></a>
                <a href="#" class="next"></a>
                <a href="#" id="shuffle_icon" class="noshuffle"></a>
                <a href="#" id="repeat_icon" class="norepeat"></a>
                <a href="#" class="jumpto"></a>
            </div>
            
            <div id="progress"></div>
            
            <div id="progress_sec"></div>
            
            
            <div id="mute" class="control">
                <a href="#" class="unmuted" id="mute_icon"></a> 
            </div>
            
            <div id="volume_container">
                <div id="volume"></div>
            </div>        
                    
            <div id="search">
                <form action="." method="get">
                    <input type="text" name="search" placeholder="{% blocktrans %}Enter search{% endblocktrans %}" />
                </form>
            </div>
            
            
            
        </div>

        <div id="titlebar">
            <div id="sidebar_header">
                <h1>{% blocktrans %}Sidebar{% endblocktrans %}</h1>
            </div>
            
            <div id="playlist_header">
                <h1>{% blocktrans %}Playlist{% endblocktrans %}</h1>
                    {% if user.is_authenticated %}
                        <ul class="header_menu">
                            <li><a href="#" id="save_playlist" onclick="return false;">{% blocktrans %}Save{% endblocktrans %}</a></li>
                            <li><a href="#" id="open_playlist" onclick="return false;">{% blocktrans %}Lists{% endblocktrans %}</a></li>
                        </ul>
                    {% endif %}
            </div>
            
            <div id="songlist_header">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th class="collNr"><a href="#">{% blocktrans %}Nr{% endblocktrans %}</a></th>
                            <th class="collTitle"><a href="#">{% blocktrans %}Title{% endblocktrans %}</a></th>
                            <th class="collArtist"><a href="#">{% blocktrans %}Artist{% endblocktrans %}</a></th>
                            <th class="collAlbum"><a href="#">{% blocktrans %}Album{% endblocktrans %}</a></th>
                            <th class="collGenre"><a href="#">{% blocktrans %}Genre{% endblocktrans %}</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div id="content">
        
            
            <div id="sidebar">
                <div id="songcover"></div>
                
                <table id="songdata">
                    <tr>
                        <th>{% blocktrans %}Title{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Duration{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Number{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Artist{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Album{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Date{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Genre{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Codec{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Bitrate{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                </table>
                                    
                <table id="databasedata">
                    <tr>
                        <th>{% blocktrans %}Songs{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{% blocktrans %}Days{% endblocktrans %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Vorbis</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mp3</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            
            <div id="playlist">
                <table>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
            
            
            <div id="songlist">
                {% include "includes/loader.html" %}
                <table>
                    <tbody>
                        <tr>
                            <td class="load_notice">{% blocktrans %}
                            l-audio is ready, please select your songs 
                            from the browse window or type in your search to display the songs.
                            If you want to show all songs on startup by default,
                            please activate the feature in your profile settings
                            {% endblocktrans %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}
