{% extends 'base.html' %}
{% load i18n %}
{% load theme %}

{% block title %}l-audio - {% blocktrans %}profile page{% endblocktrans %}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/settings.css" type="text/css" media="all" />
    <script src="{% url player:javascript 'settings' %}" type="text/javascript" charset="utf-8"></script>  
{% endblock %}


{% block content %}
    {% include "includes/nav.html" with nav_settings='class="active"'%}

    <div id="content">

        <div id="settings">
            
            <h1>{% trans 'Settings' %}</h1>
            <div class="section">
                <ul class="utils">
                    <li><a href="#" 
                           title="{% trans 'Adds all songs from your directory to the music collection' %}"
                        >{% trans 'Scan music' %}</a></li>
                    <li><a href="#"
                           title="{% trans 'Removes all songs and playlists from the database' %}"
                        >{% trans 'Reset data' %}</a></li>
                    <li><a href="#"
                           title="{% trans 'Removes all songs from the database that are no longer on your harddrive' %}"
                        >{% trans 'Tidy up database' %}</a></li>
                </ul>
                <form method="post" action="{% url player:config_settings %}">
                    {% csrf_token %}
                    <table>
                        {{ settings_form.as_table }}
                    </table>
                    <p class="submit"><input type="submit" value="{% blocktrans %}update{% endblocktrans %}" /></p>
                </form>
            </div>
            
            <h1>{% trans 'User Management' %}</h1>
            <div class="section">
                <ul class="utils">
                    <li><a href="{% url player:config_settings_new_user %}">{% trans 'new user' %}</a></li>
                </ul>
                <table>
                    <tr>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Full name' %}</th>
                        <th>{% trans 'Allowed to login' %}</th>
                        <th>{% trans 'Superuser' %}</th>
                        <th>{% trans 'delete' %}</th>
                        <th>{% trans 'edit' %}</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.last_name }} {{ user.first_name }}</td>
                            <td>{{ user.is_active|yesno }}</td>
                            <td>{{ user.is_superuser|yesno }}</td>
                            <td><a href="{% url player:config_settings_edit_user user.id %}">{% trans 'delete' %}</a></td>
                            <td><a href="{% url player:config_settings_delete_user user.id %}">{% trans 'edit' %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <h1>{% trans 'XML API User Management' %}</h1>
            <div class="section">
                <ul class="utils">
                    <li><a href="{% url player:xml_config_settings_new_user %}">{% trans 'new user' %}</a></li>
                </ul>
                <table>
                    <tr>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Allowed to connect' %}</th>
                        <th>{% trans 'delete' %}</th>
                        <th>{% trans 'edit' %}</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.is_superuser|yesno }}</td>
                            <td><a href="{% url player:xml_config_settings_edit_user user.id %}">{% trans 'delete' %}</a></td>
                            <td><a href="{% url player:xml_config_settings_delete_user user.id %}">{% trans 'edit' %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
