{% extends 'base.html' %}
{% load i18n %}
{% load theme %}

{% block title %}l-audio - {% blocktrans %}profile page{% endblocktrans %}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/settings.css" type="text/css" media="all" />
    <script src="{% url player:javascript 'settings' %}" type="text/javascript" charset="utf-8"></script>  
{% endblock %}


{% block content %}
    {% include "includes/nav.html" with nav_profile='class="active"'%}

    <div id="content">

        <div id="settings">
            <h1>{% trans 'Settings' %}</h1>
            <form method="post" action="{% url player:config_settings %}">
                {% csrf_token %}
                <table>
                    {{ settings_form.as_table }}
                </table>
                <p class="submit"><input type="submit" value="{% blocktrans %}update{% endblocktrans %}" /></p>
            </form>
            <h1>{% trans 'User Management' %}</h1>
        </div>
    </div>
{% endblock %}
