{% extends 'base.html' %}
{% load i18n %}
{% load theme %}

{% block title %}l-audio - {% blocktrans %}edit xml api user page{% endblocktrans %}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/settings.css" type="text/css" media="all" />
    <script src="{% url player:javascript 'settings' %}" type="text/javascript" charset="utf-8"></script>  
{% endblock %}


{% block content %}
    {% include "includes/nav.html" with nav_settings='class="active"'%}

    <div id="content">

        <div id="settings">
            <h1>{% blocktrans with username=config_user.username %}Edit XML API user {{ username }}{% endblocktrans %}</h1>
            <div class="section">
                <form method="post" action="{% url player:xml_config_settings_edit_user config_user.id %}">
                    {% csrf_token %}
                    <table>
                        {% for field in user_form %}
                            <tr>
                                <th>{{ field.label }}
                                {% if field.help_text %}
                                    <br /><span class="helptext">{{ field.help_text }}</span></th>
                                {% endif %}
                                <td>{{ field }}</td>
                                <td>{{ field.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="submit"><input type="submit" value="{% blocktrans %}update{% endblocktrans %}" /></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
