{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style/lib/normalize.css" type="text/css" media="all" charset="utf-8" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{{ THEME }}/setup.css" type="text/css" media="all" charset="utf-8" />
        <script src="{{ STATIC_URL }}js/lib/jquery/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}style/img/favicon.png?" />
    </head>

    <body>
        <div id="site">
            <div id="header">
                <h1>{% blocktrans %}Welcome to l-audio{% endblocktrans %}</h1>
            </div>
            {% block content %}{% endblock %}

        </div>
    </body>
</html>
