{% extends 'base.html' %} 
{% load i18n %}
{% load theme %}

{% block title %}l-audio setup{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/{% theme user %}/setup.css" type="text/css" media="all" />
{% endblock %}


{% block content %}
    <div id="content">
        
        <div id="install">
            <h1>{% blocktrans %}Welcome to l-audio. Please create your superuser account!{% endblocktrans %}</h1>
            <div class="section">
                <form action="{% url player:setup %}" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <p class="submit"><input type="submit" name="submit" value="{% blocktrans %}save{% endblocktrans %}" /></p>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
