{% load i18n %}
<nav>
    <ul class="horizontal_nav">
        <li><a href="{% url player:index %}" class="main">l-audio</a></li>
        {% if player %}
            <li><a href="#" class="active" id="sidebar_link">{% blocktrans %}Sidebar{% endblocktrans %}</a></li>
            <li><a href="#" class="active" id="playlist_link">{% blocktrans %}Playlist{% endblocktrans %}</a></li>
            <li><a href="#" id="browser_link">{% blocktrans %}Browse{% endblocktrans %}</a></li>
        {% endif %}
    </ul>
                
    <ul id="login" class="horizontal_nav">
       {% if user.is_authenticated %}
          <li><a href="{% url player:config_profile %}" {{ nav_profile }}>{% blocktrans %}profile{% endblocktrans %}</a></li>
          <li><a href="{% url player:config_settings %}" {{ nav_settings }}>{% blocktrans %}settings{% endblocktrans %}</a></li>
          <li><a href="{% url player:logout %}">{% blocktrans %}logout{% endblocktrans %}</a></li>
       {% else %}
          <li><a href="{% url player:login %}?next={% url player:index %}" {{ nav_login }}>{% blocktrans %}login{% endblocktrans %}</a></li>
       {% endif %}
    </ul>
</nav>
