{% extends 'base.html' %}
{% load i18n %} 

{% block title %}{% blocktrans %}Laudio - Add a new user{% endblocktrans %}{% endblock %}

{% block nav_settings %}class="visible"{% endblock %}


{% block content %}

<div id="settings">
    {% if not user.is_superuser %}
        <h1>{% blocktrans %}Create a superuser{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans %}Add a new user{% endblocktrans %}</h1>
    {% endif %}
    <form method="post" action=".">
        {% csrf_token %}
        <fieldset>
            <legend>{% blocktrans %}User{% endblocktrans %}</legend>
            <table>
                
                {% for field in userform %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                        {% if field.field.required %}
                            {% if field.label != "Superuser" %}
                            <sup class="required">*</sup>
                            {% endif%}
                        {% endif %}<br />
                        <span class="help_text">{{ field.help_text }}</span>
                    </th>
                    <td>{{ field }}</td>
                    {% if field.errors %}
                        <td class="errors">{{ field.errors }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                <tr>
                    <th>{% blocktrans %}Password{% endblocktrans %}</th>
                    <td><input name="password" type="password" /></td>
                </tr>

                
                {% for field in profileform %}
                <tr>
                    <th>
                        {{ field.label_tag }}
                        {% if field.field.required %}<span class="required">*</span>{% endif%}<br />
                        <span class="help_text">{{ field.help_text }}</span>
                    </th>
                    <td>{{ field }}</td>
                    {% if field.errors %}
                        <td class="errors">{{ field.errors }}</td>
                    {% endif %}
                </tr>
                {% endfor %}

                <tr>
                    <th></th>
                    <td><input name="submit" class="submit" type="submit" value="{% trans "save" %}" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
{% endblock %}
